/* 
Blue: #006ea9
Red: #bb0008
Gray background: #e8e8e8
*/
.breaker.content {background-color: #e3e3e3; border-top: 1px solid black; padding-top: 20px; padding-bottom: 40px; }
.card { background-color: white; border: 1px border #c7c7c7; padding-bottom: 120px;
  -moz-box-shadow:    0px 0px 1px 1px #aaa;
  -webkit-box-shadow: 0px 0px 1px 1px #aaa;
  box-shadow:         0px 0px 1px 1px #aaa;
}
@media (min-width: 1080px) { .card.width-align { width: 960px; } }
@media (max-width: )
.card.width-align { width: 960px; }
.card>* { margin: 20px 40px; }
.card h2 { text-transform: uppercase; color: #006ea9; padding-top: 1em; width: auto;}
.card p { font-size: 14px; line-height: 1.35em; margin-top: 1em; margin-bottom: 1em;}
.candidate-entry > * { float: left; }
.candidate-entry .after { max-width: 670px; margin-left: 30px; }


@media (min-width: 1200px) {
	
	
}



@media (min-width: 900px) {
	/*.width-align { margin-left: 10%; margin-right: 10%; }*/
	
}

.card h3 { color: #006ea9; font-weight: 400; font-size: 20px; }
.card .title { font-weight: 400; font-size: 13px; margin-bottom: 1em; margin-top: 0em; }
.card p { line-height: 1.4em; }

@media only screen and (max-width: 430px) {
.width-align.hero{
	width: auto;
	padding:0;
	width:100%;
	margin-top: 0;
}

}