/* 
Blue: #006ea9
Red: #bb0008
Gray background: #e8e8e8
*/

@media (min-width: 1200px) {
	
  .breaker.content.waiting { background-size: 100%; }

}

@media (min-width: 900px) {
	/*.width-align { margin-left: 10%; margin-right: 10%; }*/
	
}
.breaker.content.banner { background-image: url(https://s3.amazonaws.com/s3.boldprogressives.org/images/debate-bg-image.jpg); min-height: 662px; }
.candidate-blurbs .name { font-size: 16px; }
.candidate-blurbs .title { font-size: 13px; }
.candidate-blurbs a.more { font-size: 13px; color: #006ea9; text-decoration: none; border-bottom: none 0px white; font-weight: 400; margin-top: 9px; line-height: 22px; }
.candidate-blurbs a.more:hover { font-size: 13px; color: #bb0008; text-decoration: none; border-bottom-style: none; border-bottom-width: 0px; }
.candidate-entry img { width: 64px; float: }
.candidate-entry a.cf { margin-right: 37px; margin-left: 37px; }
/*.candidate-entry { margin: 16px 12px 14px 0; } */
.horizontal-candidates .candidate-entry { margin: 16px 20px 14px 20px; float: left; }
.candidate-entry .after {float: left; }
.candidate-blurbs { line-height: 1em; float: right; /* background-color: white; padding: 15px 15px 15px 30px;*/
	width: 272px;
	float: right;
	
}
.candidate-blurbs h4 { font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif; font-weight: 600; color: #006ea9; text-transform: uppercase; }
h1.thin { font-size: 40px; font-weight: 300; line-height: 1.3em; text-align: center; margin-bottom: 20px; }
.candidate-testimonial img { width: auto; max-width: 100px; }
.candidate-testimonial h3 { font-weight: 300; color: black; font-size: 20px; margin-bottom: 1em; }
.waiting h2.home-header { font-size: 48px; text-shadow: 0.1em 0.1em 0.1em black; color: white; margin-top: 210px; }
.breaker.content.waiting { background-color: #484848; background-image: url(https://s3.amazonaws.com/s3.boldprogressives.org/images/debate-start-bg.jpg); background-position: center center; background-repeat: no-repeat; height: 570px; border-top: none; }
a.take-action {text-transform: uppercase; font-weight: 300; color: white; }
a.take-action:hover { opacity: 0.8; }
a.take-action.blue { background-color: #006ea9; }
a.take-action.blue:hover { background-color: rgba(76, 167, 228, .8); }
a.take-action.red:hover { background-color: rgba(234, 24, 34, .9); }


.waiting a.take-action, .testimonials a.take-action.big { font-size: 24px; margin-top: 60px; padding: 15px 40px 15px 40px;}
.testimonials a.take-action.big { margin-top: 20px; margin-bottom: 90px;}

.testimonials .take-action.gray { color: black; background-color: #e3e3e3; font-weight: 300; font-size: 14px; padding-top: 7px; padding-bottom: 7px; }
/*.testimonials { border-bottom: 1px solid black;}*/
@media (max-width: 960px) { 
	.testimonials { border-top: 1px solid #d4d4d4;} 
	.banner { border-bottom: 0px none white;}

}
.width-align.hero {
	background-color: rgba(255,255,255,0.8);
	margin-top: 50px; margin-bottom: 50px;
	padding: 20px 30px;
	width: 900px;
}
.width-align.hero .darkgray { background-image:url(https://s3.amazonaws.com/s3.boldprogressives.org/images/debate-feature-bg.png); color: white; 
	text-align: center; padding: 30px; max-width: 570px; max-height: 325px; float: left;
}
h3.wide { text-transform: uppercase; font-weight: 400; color: #006ea9; margin-top: 0.8em; margin-bottom: 0.6em; font-size: 16px;}
.hero h1 { font-size: 43px; font-family: "Open Sans Condensed", Helvetica, sans-serif; margin-bottom: 0.8em; margin-top: 0.6em; line-height: 1.0em;}
.hero .darkgray>p { margin-bottom: 40px;  }
.hero .darkgray .left {width: 300px; border-right-color: white; border-right-style: solid; border-right-width: 1px; float: left; }
.hero .darkgray .right { float: left; text-align: center; padding-left: 40px;}
.hero .darkgray h3.wide { text-align: center; color: white; font-size: 16px; margin-left: -20px; margin-top: 8px; margin-bottom: 0.4em;}
.hero .darkgray a.take-action {
	margin-top:0px; margin-bottom: 0px; width: 200px; font-size: 16px; margin-right: 24px; padding-top: 7px; padding-bottom: 7px;
}
.hero .darkgray a.take-action.blue { margin-bottom: 7px;}
.hero p { font-size: 14px; line-height: 1.3em; }
.hero .countdown-unit { float: left; margin-right: 20px; }
.hero .countdown-unit .number { font-size: 39px; font-family: "Open Sans Condensed", Helvetica, sans-serif; }
.hero .countdown-unit .label { text-transform: uppercase; font-size: 13px;}
.hero .nobg a { color: #006ea9; text-decoration: none; border-bottom: none 0px white; font-weight: 400;}
.hero .nobg h3.wide { line-height: 44px; margin-bottom: -10px; }

.breaker.banner {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.nobg h1 {
	margin-top: 15px;
	margin-bottom: 0px;
	line-height: 70px;
	
}

/*.candidate-blurbs {
	background: none;
	border: none;
	padding: none;
	margin: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	width: auto;
	
}*/
.horizontal-candidates .candidate-blurbs .candidate-entry { float: left; }
.horizontal-candidates { margin-top: -36px; /* border-bottom: 1px solid #ccc; */ margin-bottom: 20px; }
@media only screen and (max-width: 960px) {
.width-align.hero{
	width: auto;
	padding:0;
	width:100%;
	margin:0;
}

.hero .darkgray>p {
	padding: 0 20px;
}
.width-align.hero .darkgray, .width-align.hero .candidate-blurbs{
	width:100%;
	clear:both;
	float: none;
	max-width:inherit;
	max-height:inherit;
	margin-bottom: 0;
}
.width-align.hero .candidate-blurbs {
	padding: 20px 0;
}
.width-align.hero .darkgray {
	padding: 15px 0;
}
.banner {
	height: auto;
}

.breaker.content.banner {	
	background: inherit;
	-moz-box-shadow: none;
-webkit-box-shadow: none;
  		  box-shadow: none;
	margin-bottom: 0;
}
div.breaker.content.testimonials {
	padding-top: 32px;
	margin-top: 20px;
}

.nobg {
	padding: 20px;
}

.nobg .wide, .nobg p {
	display: block;
	margin: 5px auto 10px;
	width: 80%;
	text-align: center;
}
.hero .nobg h3.wide { margin-top: -10px; }
.hero .nobg br { display: none; }
.candidate-entry {
	margin: 16px auto;
	display: block;
	width: 240px;
	float: left;
}

.hero .darkgray .left, .hero .darkgray .right {
	clear: both;
	float:none;
	display:block;
	width: 100%;
	text-align: center;
}
.hero .darkgray .left a.pull-right {
	display:block;
	clear:both;
	float:none;
	margin: 4px auto;
}
.hero .darkgray .right {
	padding: 20px 0;
	background-color: #006ea9;
	margin-top:20px;
}
.hero .countdown-unit {
	float: none;
	margin:auto;
}
.hero .darkgray h3.wide {
	margin: 5px auto -5px;
}

.candidate-entries {
display: block;
width: 90%;
margin: auto;
padding-top:20px;
}

}

@media only screen and (max-width:900px) {

	.top-section .candidate-blurbs {
	  display: none;
	}
	
	.candidate-entries {
		display: block;
		width: 65%;
		margin: auto;
		padding-top: 20px;
	}
}

.video-frame {
	
}

div.breaker.waiting.testimonials, div.breaker.waiting.testimonials h3 {
	color: white;
	
}
.bluebg { background-color: #006ea9; color: white; margin-top: 15px; width: 900px; font-weight: 400; }
.bluebg h4 {
    color: white;
    font-family: "Open Sans Condensed", Arial, Helvetic, sans-serif;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
    float: left;
    top: 72px;
    right: 24px;
    text-transform: uppercase;
}
.bluebg .candidate-entry {
    float: left;
    margin-left: 8px; margin-right: 8px;
    text-align: center;
    margin-bottom: 15px;
}
.bluebg .candidate-entry img { border-radius: 50%; clear: both; margin-top: 0px; }
.bluebg .candidate-entry .name { font-size: 14px; margin-top: -10px; margin-bottom: -3px; }
.bluebg .candidate-entry .more { font-size: 12px; color: yellow; border-bottom-style: none; }
.testimonials { text-align: center; }
.candidate-entry { width: 18%; }

.twitter_box {
    width: 58px; height: 34px;
    position: relative;
    background: #fff;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 6px;
    }
.twitter_box:after,
.twitter_box:before {
    width: 0; height: 0;
    position: absolute;
    top: 100%;
    border: solid transparent;
    pointer-events: none;
    content: " ";
    }
.twitter_box:after {
    left: 50%;
    border-top-color: #fff;
    border-width: 3px;
    margin-left: -3px;
    }
.twitter_box:before {
    left: 50%;
    border-top-color: #aaa;
    border-width: 4px;
    margin-left: -4px;
    }
.twitter_box #followers {
    width: 100%; height: auto;
    position: absolute;
    top: 0px; left: 0px;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px; line-height: 34px;
    letter-spacing: 0;
    white-space: nowrap;
    color: #333;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
   }
 
/* pesky google iframe */ 
iframe[name=google_conversion_frame] { display: none; }