<div>
  <div class="pagination">
    Page {pages.current} of {pages.total} (Showing {pages.entries.length} of {entries.length} questions)
    <a data-if="pages.previous" href="#{pages.previous}">Prev</a>
    <a data-if="pages.next" href="#{pages.next}">Next</a>
  </div>
  <div data-repeat="pages.entries">
    <div data-render="@."></div>
  </div>
  <div class="pagination">
    Page {pages.current} of {pages.total} (Showing {pages.entries.length} of {entries.length} questions)
    <a data-if="pages.previous" href="#{pages.previous}">Prev</a>
    <a data-if="pages.next" href="#{pages.next}">Next</a>
  </div>
</div>

