<div id="map_popup">

<div class="question-block cf">

<div class="votes">

    <a href="#/question/{{id}}/"
         data-question_id="{{id}}"
         class="vote-button">
      <div class="vote_tally">{{votes}}</div>
      <div class="vote-bottom">
        Vote
      </div>
    </a>
    
</div> 

<div class="question">  
    <h3 class="question_text">
      <a href="#/question/{{id}}/">{{excerpt submission}}</a>
    </h3>
<div>
</div>
<div class="map-meta cf"> 
    <div class="question-meta"><span class="user_name">{{first_name}} {{last_name}}</span>,
    	<span class="location"><a href="#/location/{{y}},{{x}}/">{{city}}, {{state}}</a></span>
    	<div class="time"><a href="#/question/{{id}}/" title="{{created}}">
            {{datetime created}}</a></div>
  	</div>
    
    <div class="social">
    	<span class="tweet-button"><a class="twitter" href="https://twitter.com/intent/tweet?url=http://opendebatequestions.com/ma5/q/%23/question/{{id}}/&amp;text=I just voted in %23ma5debate&amp;via=BoldProgressive">Tweet</a></span>
    	<span class="fb-button"><a class="facebook" href="https://www.facebook.com/dialog/feed?app_id=1390830227802266&link=http://opendebatequestions.com/ma5/q/%23/question/{{id}}/&redirect_uri=http://opendebatequestions.com/ma5/q/%23/question/{{id}}/&name=MA-05 Debate&caption=I just voted in %23ma5debate&description={{excerpt submission}}" target="_blank">
            Share</a></span>    
        
        <span class="comments"><a href="#/question/{{id}}/">
            <span class="fb-comments-count" 
                  data-href="http://opendebatequestions.com/ma5/q/#/question/{{id}}/"></span>
            Comments
        </a></span>

  	</div>
 
</div>

</div>

