<div class="question-block cf card">
  <div class="votes">
    
    <a data-question_id="{id}" href="#/question/{id}/"
         class="vote-button"
         >
      <div class="vote_tally">
        <div style="font-size: 10px; font-family: 'Open Sans', helvetica, arial, sans-serif; padding-top: 5px; margin-bottom: -5px; font-weight: lighter">Score</div>
        {votes}
      </div>
      <div class="vote-bottom">
        Vote
      </div>
    </a>
    
  


  </div>

<div class="question">
     <h3 class="question_text">
       <a href="#/question/{id}/">{submission|excerpt}</a>
     </h3>
      <div class="question-meta">Submitted by <span class="user_name">{first_name} {last_name}</span> from
      <span class="location"><a href="#/location/{y},{x}/">{city}, {state}</a></span>
      <div class="time"><a href="#/question/{id}/" title="{created}">{created|datetime}</a></div>
      </div>
 <div class="social_links">
    
      <span class="tweet-button"><a class="twitter" href="https://twitter.com/intent/tweet?url=http://opendebatequestions.com/ma5/q/%3Fsource=tw%23/question/{id}/&amp;text=I just voted in cool people powered %23ma5debate - vote for this question!&amp;via=BoldProgressive">Tweet</a></span>
      <span class="fb-button"><a class="facebook" href="https://www.facebook.com/dialog/feed?app_id=1390830227802266&link=http://opendebatequestions.com/ma5/q/%3Fsource=fb%23/question/{id}/&redirect_uri=http://opendebatequestions.com/ma5/q/%23/question/{id}/&name=MA-05 Debate&caption=I just voted in this cool people-powered %23ma5debate -- can you vote for this question too?&description={submission|excerpt}" target="_blank">
      Share</a></span>      
    <span class="comments"><a href="#/question/{id}/">
      <span class="fb-comments-count" 
           data-href="http://opendebatequestions.com/ma5/q/#/question/{id}/"></span>
      Comments
    </a></span>
    
      </div>

 
</div>
  
</div>
